*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

@mixin responsive() {
  @media (max-width: 960px) {
    @content;
  }
}

@import "partials/colors";

body {
  width: 100%;
  height: 100vh;
  background-color: $blue-dark;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: $white;
}

p {
  font-size: 1rem;
  color: $gray-3;
  letter-spacing: 1px;
  line-height: 140%;
}

@import "partials/layout";
@import "partials/menu";
@import "partials/animations";
@import "partials/spacing";
