.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  overflow: hidden;

  @include responsive() {
    flex-direction: column-reverse;
  }

  .container-item-1 {
    max-width: 576px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .logos-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include responsive() {
      .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
    }

    .btn {
      display: inline-block;
      padding: 12px 32px;
      border-radius: 2px;
      transform: skewX(-10deg);
      text-transform: uppercase;
      background-color: $red-light;
      position: relative;
      transition: 0.7s ease;

      &::after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        display: block;
        width: 20%;
        height: 60%;
        border-top: 4px solid $white;
        border-left: 4px solid $white;
        border-radius: 2px;
        opacity: 0;
        transition: 0.7s ease;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        right: -2px;
        display: block;
        width: 20%;
        height: 60%;
        border-bottom: 4px solid $white;
        border-right: 4px solid $white;
        border-radius: 2px;
        opacity: 0;
        transition: 0.7s ease;
      }

      &:hover::after,
      &:hover::before {
        opacity: 1;
      }

      &:hover {
        transform: skewX(-10deg);
        transform: scale(1.05);
      }
      @include responsive() {
        padding: 8px 16px;
      }
    }

    .btn-secondary {
      display: inline-block;
      padding: 10px 32px;
      border-radius: 2px;
      transform: skewX(-10deg);
      text-transform: uppercase;
      border: 1px solid $red-light;
      position: relative;
      transition: 0.7s ease;

      &:hover {
        border-color: $white;
      }

      @include responsive() {
        padding: 8px 16px;
      }
    }
  }

  .container-item-2 {
    .spider-man {
      width: 120%;
      transform: translate3d(-150px, 0, 0);

      @include responsive() {
        width: 100%;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      101.47deg,
      #0a0c10 26.38%,
      rgba(10, 12, 16, 0.8) 50.07%,
      #0a0c10 73.17%
    );
  }
}

.bg-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(225deg, $red 0%, $red-dark 100%);
}
